body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgba(51, 34, 102, 0.3333333333);
}

nav {
  background-color: antiquewhite;
  padding: 0px;
  margin: 0%;
}
nav ul {
  list-style-type: none;
  display: flex;
}
nav ul li {
  padding: 10px;
  margin: 20px;
  color: black;
}
nav ul li a {
  text-align: center;
}